.grid-container {
  display: flex;
  /* border: 2px solid rgba(0, 0, 0, .4); */
  transition: 1s ease;
}

.sidebar {
  width: 350px;
  height: 100%;
  transition: 1s ease;
  position: relative;
}

.main-content {
  width: 70%;
  transition: 1s ease;
  z-index: 1;
}

.main-content_large {
  width: 100%;
}

.sidebar_small {
  width: 0;
}

main button {
  position: absolute;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 40%;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.6);
  left: 100%;
  top: 1.5rem;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}

button:hover {
  background-color:rgb(66, 95, 87);
  color: white;
}